<body>
  <h2>Editing Book</h2>
  <%= form_with model: @book do |f| %>
   <label>Title</label>
   <%= f.text_field :title, class: "field" %>

   <label>Body</label>
   <%= f.text_area :body, class: "area" %>

   <%= f.submit 'Update Book' %>
  <% end %>
  <%=link_to "Show", book_path(@book.id) %> | <%= link_to 'Back', '/books/new' %>
</body>